/*

* Cascading Style Sheet for BDMS
* By
* STRiNG

*/


body{

}

.jumbotron {
    /* IE10+ */
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #ff0000 0%, #4F1616 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #ff0000 0%, #4F1616 100%);

    /* Opera */
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #ff0000 0%, #4F1616 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #ff0000), color-stop(100, #4F1616));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #ff0000 0%, #4F1616 100%);

    /* W3C Markup */
    background-image: radial-gradient(ellipse farthest-corner at center, #ff0000 0%, #4F1616 100%);

}



.jumbotron .h1, .jumbotron h1 {
    color: #fff;
}

.header-text {
    color: #fff;
}

/* Shout Box Style Starts */

.shoutbox { width: 100%; bottom: -1px; margin-bottom: 0; border-radius: 0; }
.profile-avatar { position: relative; z-index: 20; background-size: cover; background-position: center center; border-radius: 100%; -webkit-transition: opacity 0.3s ease-in; transition: opacity 0.3s ease-in; }
.profile-avatar.tiny { width: 32px; height: 32px; border: none; }
.shoutbox .panel-heading { border-radius: 0; }
.shoutbox .profile-avatar { box-shadow: none; }
.shoutbox .list-group { height: 300px; overflow-y: auto; }
.shoutbox .list-group-item-heading, .shoutbox p { margin-left: 48px; padding-right: 30px; }
.shoutbox .list-group-item .message-content { position: relative; }
.shoutbox .list-group-item time { position: absolute; top: 0; right: 0; color: #777777; font-size: 12px; }
.shoutbox .form-group { width: 100%; }
.shoutbox input.form-control { width: 100%; resize: none; }
.mentioned { background-color: #C6FFFA; }
.panel-chat { border-color: #ddd; }
.panel-chat > .panel-heading { color: #fff; background-color: #ff0000; border-color: #ddd; }
.panel-chat > .panel-heading + .panel-collapse > .panel-body { border-top-color: #ddd; }
.panel-chat > .panel-heading .badge { color: #373d43; background-color: #fff; }
.panel-chat > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #ddd; }
.panel-chat .close { color: #fff; position: absolute; top: 8px; right: 16px; }
.panel-heading h3 { margin-top: 15px; }
#chat-error { margin-left: 0px; margin-top: 5px; }

/* Shout Box Styles Ends */


/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
    border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #fff;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-right: 0;
        border-radius: 0 5px 5px 0;
    }
}

/* navbar ends*/
.table-background{
    background-image: url(../../img/table-background.jpg);
    background-attachment: fixed;
}

.table-search-background{
    background-color:#0f0f0f;
    background-attachment: fixed;
}

.blood-type {
    background: #ff0000 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
}
.transparent-bg {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}
.transparent-bg .table caption + thead tr:first-child th, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child td {
    color: #ff0000;
    text-align: center;
    text-transform: uppercase;
}
.transparent-bg .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
.transparent-bg table tr:hover {
    background: #ff0000 none repeat scroll 0 0;
    color: #fff;
}
.transparent-bg table thead tr:first-child:hover {
    background: transparent none repeat scroll 0 0;
}
.transparent-bg .table-responsive {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.transparent-bg .table-responsive > .table {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

/*   */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}


/* footer Styles*/

footer {
    background-color: #000;
    border-top: solid #87ca00 2px;
    border-bottom: solid #87ca00 2px;
    text-align: center;
    color: red;
}